@import "tailwindcss";

@font-face {
    font-family: 'FashionScript';
    src: url('/fonts/FASHION_SCRIPT.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fanlste';
    src: url('/fonts/FANLSTE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

