---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:description"
      content="Venha celebrar conosco esse momento tão especial. Sua presença é essencial para tornar esse dia ainda mais inesquecível!"
    />
    <meta
      property="og:image"
      content="https://i.ibb.co/vvMghm4p/Convite-hehe.png"
    />
    <meta property="og:url" content="https://danieleejonatas.vercel.app/" />
    <title>
      Nosso dia está chegando, e nada faria mais sentido do que tê-lo conosco
      nesse momento tão especial
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
